<div class="crop"
    [style.width.px]="cropWidth"
    [title]="rating"
    (click)="onClick()">
    <div style="width: 130px;">
        <span>
            <mat-icon aria-hidden="false" aria-label="Example star icon" fontIcon="star"></mat-icon>
        </span>
        <span>
            <mat-icon aria-hidden="false" aria-label="Example star icon" fontIcon="star"></mat-icon>
        </span>
        <span>
            <mat-icon aria-hidden="false" aria-label="Example star icon" fontIcon="star"></mat-icon>
        </span>
        <span>
            <mat-icon aria-hidden="false" aria-label="Example star icon" fontIcon="star"></mat-icon>
        </span>
        <span>
            <mat-icon aria-hidden="false" aria-label="Example star icon" fontIcon="star"></mat-icon>
        </span>
    </div>
</div>